<ng-template #template>
  <a [routerLink]="menuItem.url" routerLinkActive="active" #menuLink="routerLinkActive"
    [attr.aria-current]="menuLink.isActive ? 'page' : undefined">{{menuItem.label}}</a>
  <app-jazz-sub-button [menuItem]="menuItem" (closeSubMenus)="close()" (resetSubMenus)="reset()"></app-jazz-sub-button>
  <ul *ngIf="menuItem && menuItem.subItems && menuItem.subItems.length > 0" [class]="getClass()">
    <li *ngFor="let levelItem of menuItem.subItems">
        <app-jazz-menu-item [menuItem]="levelItem"></app-jazz-menu-item>
    </li>
  </ul>
</ng-template>
