<header role="banner" class="jazz-header" *ngIf="!menuOptions.showCompact">
  <h1 class="jazz-visually-hidden">{{menuOptions.title}}</h1>
  <div class="jazz-skip-links">
    <a href="#main-content" class="jazz-skip-link">Skip to main content</a>
    <a href="#search" class="jazz-skip-link">Skip to search options</a>
  </div>
  <div class="jazz-container">
  <div class="jazz-header-container">
    <div class="jazz-header__pu-branding">
        <a href="https://www.princeton.edu" title="{{ menuOptions.title }}"><img src="./assets/logos/pu-logo-ww-os.png" alt="{{ menuOptions.title}}" /></a>
    </div>
    <div class="jazz-header-right-container">
      <div class="jazz-header__utility-menu jazz-header__utility-menu--hide-small">
        <ul>
          <li *ngFor="let utilityItem of menuOptions.utilityItems" >
            <a [routerLink]="utilityItem.url" routerLinkActive="active" #menuLink="routerLinkActive"
               [attr.aria-current]="menuLink.isActive ? 'page' : undefined">{{utilityItem.label}}</a>
          </li>
        </ul>
      </div>
      <div class="jazz-header__search-bar" *ngIf="menuOptions.showSearch">
          <h2 class="jazz-visually-hidden">Search</h2>
          <app-jazz-search-button></app-jazz-search-button>
          <div class="jazz-header__search-bar-panel">
            <form action="javascript:void(0)" method="get" accept-charset="UTF-8" role="search">
              <label class="jazz-visually-hidden" for="search-field">Search</label>
              <a id="search">
                <input type="search" id="search-field" placeholder="Search" autocomplete="off" />
              </a>
              <button class="jazz-button" type="submit">
                <span class="jazz-visually-hidden">Search</span>
              </button>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="jazz-header-break"></div>
  <div class="jazz-header__site-branding">
    <div class="jazz-header__site-branding-contents">
      <a href="./" title="Home" rel="home" tabindex="-1" aria-hidden="true" class="jazz-header__site-branding-home-link"><img src="./assets/logos/shield.svg" alt="{{ menuOptions.siteBrandingName }}"/></a>
      <div class="jazz-header__site-branding-info">
        <div class="jazz-header__site-branding-name">
          <a href="./" title="Home" rel="home">{{ menuOptions.siteBrandingName }}</a>
        </div>
        <div class="jazz-header__site-branding-slogan">
          {{ menuOptions.siteBrandingSlogan }}
        </div>
      </div>
    </div>
  </div>
  <div class="jazz-header-collapsed-header">
    <div class="jazz-container">
      <div class="jazz-header-collapsed-container">
        <div class="jazz-header-collapsed__pu-branding">
          <a href="javascript:void(0);" title="{{menuOptions.title}}"><img src="./assets/logos/shield.svg" alt="{{menuOptions.title}}" /></a>
        </div>
        <div class="jazz-header-collapsed__site-branding--divider">
        </div>
        <div class="jazz-header-collapsed__site-branding">
          <div class="jazz-header-collapsed__site-branding-info">
            <div class="jazz-header-collapsed__site-branding-name">
              <a href="javascript:void(0);" title="Home" rel="home">{{ menuOptions.siteBrandingName }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-jazz-menu [menuItems]="menuOptions.menuItems" [utilityItems]="menuOptions.utilityItems">

  </app-jazz-menu>
  </div>
</header>

<header role="banner" class="jazz-header-compact" *ngIf="menuOptions.showCompact">
  <div class="jazz-container">
    <div class="jazz-header-compact-container">
      <div class="jazz-header-compact-logo">
        <h1 class="jazz-visually-hidden">{{ menuOptions.title }}</h1>
        <div class="jazz-skip-links">
          <a href="#main-content" class="jazz-skip-link">Skip to main content</a>
          <a href="#search" class="jazz-skip-link">Skip to search options</a>
        </div>
        <div class="jazz-header-compact__pu-branding">
          <a href="javascript:void(0);" title="{{ menuOptions.title }}"><img src="./assets/logos/pu-standard-ww-ws.png" alt="{{ menuOptions.title }}" /></a>
        </div>
        <div class="jazz-header-compact__site-branding--divider">
        </div>
        <div class="jazz-header-compact__site-branding">
          <div class="jazz-header-compact__site-branding-info">
            <div class="jazz-header-compact__site-branding-name">
              <a href="javascript:void(0);" title="Home" rel="home">{{ menuOptions.siteBrandingName }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="jazz-header-collapsed-header">
        <div class="jazz-header-collapsed-container">
          <div class="jazz-header-collapsed__pu-branding">
            <a href="javascript:void(0);" title="{{ menuOptions.title }}"><img src="./assets/logos/shield.svg" alt="{{ menuOptions.title }}" /></a>
          </div>
          <div class="jazz-header-collapsed__site-branding--divider">
          </div>
          <div class="jazz-header-collapsed__site-branding">
            <div class="jazz-header-collapsed__site-branding-info">
              <div class="jazz-header-collapsed__site-branding-name">
                <a href="javascript:void(0);" title="Home" rel="home">{{ menuOptions.siteBrandingName }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jazz-header-break"></div>
      <nav aria-label="Main Menu" class="jazz-menu__main-menu">
        <div class="jazz-menu__main-menu-navbar">
          <app-jazz-menu-main-button></app-jazz-menu-main-button>
          <div class="jazz-menu__nav-container">
            <div class="jazz-header-compact__utility-menu">
              <ul class="jazz-menubar">
                <li *ngFor="let menuItem of menuOptions.menuItems">
                  <a [routerLink]="menuItem.url" routerLinkActive="active" #menuLink="routerLinkActive"
                     [attr.aria-current]="menuLink.isActive ? 'page' : undefined">{{menuItem.label}}</a>
                </li>
              </ul>
            </div>
            <div class="jazz-header-compact__utility-menu--divider"></div>
            <div class="jazz-header-compact__utility-menu">
              <ul class="jazz-menubar">
                <li><a href="javascript void(0);">Net Id</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
