<jazz-breadcrumbs>
  <jazz-breadcrumb url="/" label="Home"></jazz-breadcrumb>
  <jazz-breadcrumb url="/mainMenu2" label="Main Menu 2"></jazz-breadcrumb>
</jazz-breadcrumbs>

<h1 class="jazz-page-title">Main Menu 2</h1>
<h2>Second Point</h2>

<p>
  This section describes the second point. Careful consideration of these points should be considered. This is a button that activates a dialog box.<br/><br/>

  This is a link to <a href="http://www.google.com">Google</a> without the external link icon. This opens in the same window. <br/><br/>
  This is a link to <a href="http://www.google.com" target="_blank">Google</a>     with the external link icon. This opens in a new window. <br/><br/>

  <jazz-modal-dialog [title]="'Sample Dialog'" [buttonLabel]="'Click Me!'" (buttonClicked)="clicked()">
      This is the content of the dialog
  </jazz-modal-dialog>
</p>

