<h1 class="jazz-page-title">Main Menu 2</h1>
<h2>Second Point</h2>

<nav class="jazz-breadcrumb" aria-label="Breadcrumbs">
  <ol class="jazz-breadcrumb__list">
    <li class="jazz-breadcrumb__list-item">
      <a href="#" class="jazz-breadcrumb__link">Home</a>
    </li>
    <li class="jazz-breadcrumb__list-item">
      <a href="#" class="jazz-breadcrumb__link">Another Link</a>
    </li>
    <li class="jazz-breadcrumb__list-item">
      <a href="#" class="jazz-breadcrumb__link">Yet Another Link Level</a>
    </li>
    <li class="jazz-breadcrumb__list-item jazz-current" aria-current="page">And finally here were are the page description</li>
  </ol>
</nav>

<p>
  This section describes the second point. Careful consideration of these points should be considered.
</p>

