<style>
  .content {
    position: relative;
    display: block;
    margin: 0px 14px 0px 274px !important;
    padding-top: 65px;
    padding-bottom: 30px;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .content.content-collapse {
    margin-left: 74px !important;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .content .content-padded {
    position: relative;
    display: block;
    background-color: #fff;
  }
</style>

<app-jazz-header [title]="'Princeton Design System'" [siteBrandingName]="'Relativity'" [siteBrandingSlogan]="'The Princeton University Design System'"
                 [menuItems]="mainMenu" [utilityItems]="utilityMenu">
</app-jazz-header>

<main>
  <div class="jazz-container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer role="contentinfo" class="jazz-footer">
  <div class="jazz-container jazz-footer__content">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <h2>General Information</h2>
        <ul class="jazz-footer__list">
          <li><a href="javascript:void(0);">Contact Us</a></li>
          <li><a href="javascript:void(0);">About Us</a></li>
          <li><a href="javascript:void(0);">News</a></li>
          <li><a href="javascript:void(0);">Data Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h2>Services</h2>
        <ul class="jazz-footer__list">
          <li><a href="javascript:void(0);">Update Your Info</a></li>
          <li><a href="javascript:void(0);">Online Resources</a></li>
          <li><a href="javascript:void(0);">Visiting Campus</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h2>University Links</h2>
        <ul class="jazz-footer__list">
          <li><a href="javascript:void(0);">Princeton University</a></li>
          <li><a href="javascript:void(0);">Princeton Athletics</a></li>
          <li><a href="javascript:void(0);">Princeton Career Development</a></li>
          <li><a href="javascript:void(0);">Princeton Prize</a></li>
          <li><a href="javascript:void(0);">Princetoniana</a></li>
          <li><a href="javascript:void(0);">Giving to Princeton</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h2>Social Media</h2>
        <ul class="jazz-footer__icon-list">
          <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-facebook"></i><span class="jazz-visually-hidden">Follow Us on Facebook</span></a></li>
          <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-twitter"></i><span class="jazz-visually-hidden">Follow Us on Twitter</span></a></li>
          <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-linkedin"></i><span class="jazz-visually-hidden">Follow Us on Linked In</span></a></li>
          <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-instagram"></i><span class="jazz-visually-hidden">Follow Us on Instagram</span></a></li>
          <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-youtube"></i><span class="jazz-visually-hidden">Follow Us on You Tube</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jazz-footer__subfooter">
    <div class="jazz-container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <a href="javascript:void(0)">Accessibility</a>
        </div>
        <div class="col-sm-4 col-xs-12">
          &copy; 2020 The Trustees of Princeton University
        </div>
        <div class="col-sm-4 col-xs-12">
          <a href="https://www.princeton.edu" target="_blank" class="jazz-no-icon"><img class="jazz-footer__logo" src="/icons/pu-logo-stacked-white.svg" alt="Princeton University" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
