<div class="jazz-body-flex-container">
  <!--<jazz-header [headerOptions]="headerOptions">-->
  <jazz-header [title]="'Princeton University Design System'" [siteBrandingName]="'RELATIVITY'" [siteBrandingSlogan]="'The Princeton University Design System'" [showCompact]=false [showSearch]=true>
    <jazz-main-menu>
      <jazz-main-menu-item label="Main Menu 1" url="/mainMenu1">
          <jazz-main-menu-item label="Level 2 Menu 1" url="/level2item1" shownByDefault="true">
            <jazz-main-menu-item label="Level 3 Menu 1" url="/level3item1"></jazz-main-menu-item>
            <jazz-main-menu-item label="Level 3 Menu 2" url="/level3item1"></jazz-main-menu-item>
            <jazz-main-menu-item label="Level 3 Menu 3" url="/level3item1"></jazz-main-menu-item>
          </jazz-main-menu-item>
          <jazz-main-menu-item label="Level 2 Menu 2" url="/level2item1"></jazz-main-menu-item>
          <jazz-main-menu-item label="Level 2 Menu 3" url="/level2item1"></jazz-main-menu-item>
      </jazz-main-menu-item>
      <jazz-main-menu-item label="Main Menu 2" url="/mainMenu2"></jazz-main-menu-item>
      <jazz-main-menu-item label="Main Menu 3" url="/mainMenu3"></jazz-main-menu-item>
    </jazz-main-menu>

    <jazz-utility-menu>
      <jazz-utility-item label="Documentation" externalUrl="http://www.google.com"></jazz-utility-item>
      <jazz-utility-item label="Log In" url="/login"></jazz-utility-item>
    </jazz-utility-menu>
</jazz-header>

<main>
  <div class="jazz-container">
    <router-outlet></router-outlet>
  </div>
</main>

  <footer role="contentinfo" class="jazz-footer">
    <div class="jazz-container jazz-footer__content">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <ul class="jazz-footer__list">
            <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-email jazz-icon-white" aria-hidden="true"></i>  finance@princeton.edu</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12">
          <ul class="jazz-footer__list">
            <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-phone jazz-icon-white" aria-hidden="true"></i>  609-258-3080</a></li>
            <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-printer jazz-icon-white" aria-hidden="true"></i>  609-258-3080</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12">
          <ul class="jazz-footer__list">
            <li><i class="jazz-icon jazz-icon-map-pin jazz-icon-transparent" aria-hidden="true"></i>  701 Carnegie Center</li>
            <li><i class="jazz-icon jazz-icon-map-pin jazz-icon-white" aria-hidden="true"></i>  Suite 435</li>
            <li><i class="jazz-icon jazz-icon-map-pin jazz-icon-transparent" aria-hidden="true"></i>  Princeton, NJ 08540</li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-12 jazz-footer-text--right">
          <ul class="jazz-footer__list">
            <li><img class="jazz-footer__shield" src="./assets/logos/shield.svg" />  Web Development Services</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="jazz-footer__subfooter">
      <div class="jazz-container">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <a href="javascript:void(0)">Accessibility</a>
          </div>
          <div class="col-sm-4 col-xs-12 jazz-footer-text--center">
            &copy; 2020 The Trustees of Princeton University
          </div>
          <div class="col-sm-4 col-xs-12">
            <a href="https://www.princeton.edu" target="_blank" class="jazz-no-icon"><img class="jazz-footer__logo" src="./assets/icons/pu-logo-stacked-white.svg" alt="Princeton University" /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
