---
layout: layout.njk
title: Getting Started
tags: getting_started
---

<h1 class="jazz-page-title">Getting Started</h1>

<h2>Installation</h2>

<p>
    This section describes the Jazz Design System installation process for projects that use
    <a href="https://docs.npmjs.com/about-npm">NPM</a> (Node Package Manager) to manage project dependencies.
</p>
<p>
    In your javascript project, run the following command to install the Jazz Design System Angular components into your project:
</p>
{% highlight "javascript" %}
npm install {{ packageData.name }}@{{ packageData.version }} --save
{% endhighlight %}

<h2>Using Angular Components</h2>

<p>
    In Angular environments, include the following code in the angular.json file order to map images and css files from the @princeton-design/design-system package.
</p>

{% highlight "html" %}
     "assets": [
       "src/assets",
         {
           "glob": "**/*",
           "input": "./node_modules/@princeton-design/design-system",
           "output": "/assets/"
         }
     ],
     "styles": [
       "src/styles.css",
       "./node_modules/@princeton-design/design-system/jazz_fonts.css",
       "./node_modules/@princeton-design/design-system/jazz_sans.css",
       "./node_modules/@princeton-design/design-system/jazz_serif.css"
     ],
{% endhighlight %}

<p>
    If you have SASS enabled in your project you can also import the Jazz css files in your main .scss file:
</p>

{% highlight "html" %}
@import "../node_modules/@princeton-design/design-system/jazz_fonts.css";
@import "../node_modules/@princeton-design/design-system/jazz_serif.css";
@import "../node_modules/@princeton-design/design-system/jazz_sans.css";
@import "../node_modules/@princeton-design/design-system/jazz_custom.css";
@import "../node_modules/@princeton-design/design-system/jazz_curated_icons.css";
{% endhighlight %}

<p>
    In the project's module file import the library
</p>

{% highlight "html" %}
     import {DesignSystemAngularModule} from "@princeton-design/design-system-angular";
{% endhighlight %}

<h2>Using CSS. icons and images from the @princeton-design/design-system project</h2>

<p>
  In order to get the appropriate assets needed for the components to render properly you will need to install the @princeton-design/design-system package which contains the stylesheets, icons and images that the components need.
</p>

{% highlight "html" %}
     npm install @princeton-design/design-system --save
{% endhighlight %}
