<nav aria-label="Main Menu" class="jazz-menu__main-menu">
  <h2 class="jazz-visually-hidden">Main Menu</h2>

  <div class="jazz-container">
    <div class="jazz-menu__main-menu-navbar">
      <app-jazz-menu-main-button></app-jazz-menu-main-button>
      <div class="jazz-menu__nav-container">
        <ul *ngIf="menuItems && menuItems.length > 0" class="jazz-menubar" role="list">
            <li *ngFor="let level1item of menuItems" (mouseleave)="onMouseOut($event)" [attr.aria-current]="level1item.current">
              <app-jazz-menu-item [menuItem]="level1item" (closeSubMenus)='closeSubMenus($event)' (resetSubMenus)='resetSubMenus()'></app-jazz-menu-item>
            </li>
        </ul>
        <div class="jazz-header__utility-menu">
          <ul *ngIf="utilityItems && utilityItems.length > 0">
            <li *ngFor="let utilityItem of utilityItems" [attr.aria-current]="utilityItem.current">
              <a href="{{utilityItem.url}}">{{utilityItem.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
