
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pager No Truncation Example - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system-angular/jazz_custom.css">
   <link rel="stylesheet" href="/design-system-angular/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system-angular/jazz_curated_icons.css">
   <link rel="stylesheet" href="/design-system-angular/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%;padding:10px;">

<jazz-pager-component current-page="4" total-pages="7"></jazz-pager-component>


</div>
<!-- Example End -->
<script src="/design-system-angular/runtime.js"></script>
<script src="/design-system-angular/polyfills.js"></script>
<script src="/design-system-angular/main.js"></script>
</body>
</html>
